@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
                 url('../fonts/Roboto-Light.woff') format('woff'),
                 url('../fonts/Roboto-Light.ttf') format('truetype'),
                 url('../fonts/Roboto-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
                 url('../fonts/Roboto-Regular.woff') format('woff'),
                 url('../fonts/Roboto-Regular.ttf') format('truetype'),
                 url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
                 url('../fonts/Roboto-Medium.woff') format('woff'),
                 url('../fonts/Roboto-Medium.ttf') format('truetype'),
                 url('../fonts/Roboto-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
                 url('../fonts/Roboto-Bold.woff') format('woff'),
                 url('../fonts/Roboto-Bold.ttf') format('truetype'),
                 url('../fonts/Roboto-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url("../fonts/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"),
                 url('../fonts/MyriadPro-Bold.woff') format('woff'),
                 url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
                 url('../fonts/MyriadPro-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'PFBeauSansPro';
    src: url('../fonts/PFBeauSansPro-SemiBold.eot');
    src: url("../fonts/PFBeauSansPro-SemiBold.eot?#iefix") format("embedded-opentype"),
                 url('../fonts/PFBeauSansPro-SemiBold.woff') format('woff'),
                 url('../fonts/PFBeauSansPro-SemiBold.ttf') format('truetype'),
                 url('../fonts/PFBeauSansPro-SemiBold.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
