@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k8zngm');
  src:  url('fonts/icomoon.eot?k8zngm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k8zngm') format('truetype'),
    url('fonts/icomoon.woff?k8zngm') format('woff'),
    url('fonts/icomoon.svg?k8zngm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e900";
}
.icon-left:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-tribune:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-vkontakte:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-icon:before {
  content: "\e908";
}
.icon-news:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e90a";
}

