body, ul, p, h1, h2, h3, h4, a, button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none; }

button {
  color: inherit;
  background-color: transparent;
  cursor: pointer; }
  button a {
    display: block; }

textarea {
  resize: vertical; }

label {
  font-weight: 400;
  margin-bottom: 0;
  cursor: pointer; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

img {
  width: 100%; }

form:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

input, select, textarea {
  /* Firefox 19+ */
  /* Firefox 18- */ }
  input:focus, select:focus, textarea:focus {
    outline: none; }
  input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #9b9b9b; }
  input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
    color: #9b9b9b; }
  input:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder {
    color: #9b9b9b; }
  input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #9b9b9b; }

html,
body {
  height: 100%; }

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative; }

.content {
  flex: 1 0 auto;
  position: relative;
  z-index: 3; }

.b-footer {
  flex: 0 0 auto;
  position: relative;
  z-index: 2; }

input, textarea, select {
  -webkit-appearance: none !important; }

html {
  -webkit-text-size-adjust: none; }

.b-close {
  width: 42px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4; }
  .b-close:before, .b-close:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 16px;
    width: 3px;
    height: 48px;
    background-color: #ffffff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s; }
  .b-close:before {
    transform: rotate(-45deg); }
  .b-close:after {
    transform: rotate(45deg); }

.m-100 {
  width: 100%; }

.f-t {
  font-weight: 100 !important; }

.f-l {
  font-weight: 300 !important; }

.f-n {
  font-weight: 400 !important; }

.f-m {
  font-weight: 500 !important; }

.f-b {
  font-weight: 700 !important; }

.f-e {
  font-weight: 900 !important; }

.t {
  display: table;
  height: 100%;
  width: 100%; }
  .t .c {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.b-popup-overlay {
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.52); }
  .b-popup-overlay.active {
    display: block; }

.b-input-container {
  width: 100%;
  display: block;
  position: relative; }
  .b-input-container .e-input-container-icon {
    position: absolute;
    top: calc(50% - 10.5px);
    left: 0;
    z-index: 1;
    color: #717070;
    width: 45px;
    font-size: 21px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    text-align: center; }
  .b-input-container + .b-input-container {
    margin-top: 15px; }
  .b-input-container.m-icon:before {
    content: '';
    position: absolute;
    width: 1px;
    top: 1px;
    bottom: 1px;
    left: 44px;
    background-color: #717070; }
  .b-input-container.m-icon .b-input {
    padding-left: 59px; }
  .b-input-container.m-input-error .b-input:focus {
    -webkit-box-shadow: 0px 1px 5px 0px;
    -moz-box-shadow: 0px 1px 5px 0px;
    box-shadow: 0px 1px 5px 0px; }
  .b-input-container.m-100 {
    width: 100%; }
  .b-input-container.m-50 {
    width: calc(50% - 11px);
    float: left;
    margin-top: 0;
    margin-bottom: 15px; }
    .b-input-container.m-50 + .m-50 {
      margin-left: 22px; }
    .b-input-container.m-50:nth-child(2n+1) {
      margin-left: 0; }

@media (max-width: 479px) {
  .b-input-container.m-50 {
    width: 100%;
    float: none; }
    .b-input-container.m-50 + .m-50 {
      margin-left: 0; } }
.b-input {
  display: block;
  box-sizing: border-box;
  border: 1px solid #717070;
  border-radius: 3px;
  padding: 15px 15px 16px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  font-weight: 400;
  color: #717070;
  font-family: "Ubuntu"; }

.b-overlay {
  background-color: rgba(44, 110, 183, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  display: none; }
  .b-overlay.active {
    display: block; }
  .b-overlay > .b-close {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px; }

.b-checkbox {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2; }
  .b-checkbox label {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    position: relative;
    margin-bottom: 0;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 3px; }
    .b-checkbox label:before {
      content: "";
      position: absolute;
      transform: rotate(45deg);
      border: 2.7px solid #ffb227;
      border-left: none;
      border-top: none;
      width: 8px;
      height: 14px;
      top: -4px;
      left: 5px;
      display: none; }
  .b-checkbox input {
    display: none; }
    .b-checkbox input:checked + label:before {
      display: block; }

.b-checkbox-container {
  font-size: 0; }
  .b-checkbox-container .e-checkbox-label {
    font-size: 16px;
    line-height: 17px;
    padding-left: 7px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-weight: 400;
    width: 80%; }

@keyframes clickeffect {
  from {
    opacity: 0.7;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  to {
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); } }
@-webkit-keyframes clickeffect {
  from {
    opacity: 0.7;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  to {
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); } }
.anim {
  position: relative;
  overflow: hidden; }

.effect {
  margin: -100px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
  animation: clickeffect 1s ease;
  -webkit-animation: clickeffect 1s ease; }

.m-new-line {
  display: block; }

.b-bg {
  overflow: hidden;
  color: #ffffff;
  position: relative; }
  .b-bg .e-bg-container {
    position: relative;
    z-index: 2; }
  .b-bg .e-bg-img-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .b-bg .e-bg-img-container:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(52, 52, 52, 0.8);
      z-index: 1; }
  .b-bg .e-bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: block;
    animation-name: zoomBg;
    -webkit-animation-name: zoomBg;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    animation-duration: 40s;
    -webkit-animation-duration: 40s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; }
  .b-bg.m-bg-empty .e-bg-img-container:before {
    display: none;
    background-color: transparent; }

@keyframes zoomBg {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes zoomBg {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.container {
  position: relative;
  z-index: 3; }

@keyframes jump {
  0% {
    bottom: 26px; }
  50% {
    bottom: 45px; }
  60% {
    bottom: 26px; }
  70% {
    bottom: 35px; }
  80% {
    bottom: 26px; }
  90% {
    bottom: 30px; }
  100% {
    bottom: 26px; } }
@-webkit-keyframes jump {
  0% {
    bottom: 26px; }
  50% {
    bottom: 45px; }
  60% {
    bottom: 26px; }
  70% {
    bottom: 35px; }
  80% {
    bottom: 26px; }
  90% {
    bottom: 30px; }
  100% {
    bottom: 26px; } }

/*# sourceMappingURL=mixins.css.map */
