//todo Colors

$grey: #939292;
$grey-dark: #4b4b4b;
$yellow: #f8e521;
$blue: #395bd9;
$brown: #353334;
$red: #881e1e;

$orange: #ffb227;
$pink: #ff2c2c;

body, ul, p, h1, h2, h3, h4, a, button {
  margin:          0;
  padding:         0;
  list-style:      none;
  text-decoration: none;
  outline:         none;
  border:          none;
}

.wrap{
  &.m-wrap-popup{
    height: calc(100% + 1px);
    overflow: hidden;
  }
}

button {
  color:            inherit;
  background-color: transparent;
  cursor:           pointer;
  a {
    display: block;
  }
}

textarea {
  resize: vertical;
}

label {
  font-weight:   400;
  margin-bottom: 0;
  cursor:        pointer;
}

a {
  color: inherit;
  &:hover {
    color:           inherit;
    text-decoration: none;
  }
  &:focus {
    outline:         none;
    color:           inherit;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

// todo Background
@mixin border {
  border: 8px solid $blue;
}

// todo Background
@mixin bg {
  background-repeat:   no-repeat;
  background-position: center;
  background-size:     cover;
}

// todo Transition
@mixin transition-def {
  transition:         all .3s;
  -webkit-transition: all .3s;
  -moz-transition:    all .3s;
  -o-transition:      all .3s;
}

// todo Shadow
@mixin shadow-def {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.14);
}


@mixin clearfix {
  &:after {
    visibility: hidden;
    display:    block;
    content:    "";
    clear:      both;
    height:     0;
  }
}

form {
  @include clearfix();
}

input, select, textarea {
  &:focus {
    outline: none;
    //-webkit-box-shadow: 0px 1px 5px 0px $green;
    //-moz-box-shadow:    0px 1px 5px 0px $green;
    //box-shadow:         0px 1px 5px 0px $green;
  }
  &::-webkit-input-placeholder {
    color: #0a0b0b;
  }
  &::-moz-placeholder {
    color: #0a0b0b;
  }
  /* Firefox 19+ */
  &:-moz-placeholder {
    color: #0a0b0b;
  }
  /* Firefox 18- */
  &:-ms-input-placeholder {
    color: #0a0b0b;
  }
}

// todo Active

@mixin active-def {
  //background-color: $blue;
  //color:#fff !important;
  //border-color: $blue-dark !important;
  //background-image: none !important;
  //box-shadow:         inset 0 1px 19px 0 $blue-dark;
  @include transition-def();
  @include icon-white();
  .glyphicon {
    @include transition-def();
    color: #ffffff;
  }
  .b-close {
    &:before, &:after {
      background-color: #ffffff;
    }
    &.m-dark {
      &:before, &:after {
        background-color: #ffffff;
      }
    }
  }
  .b-icon {
    color: #ffffff;
  }
  .color-blue {
    color: #ffffff;
  }
  .b-bubble-circle {
    .b-icon {
      .path2 {
        color: #ffffff;
      }
    }
  }
  & > .e-item-container {
    & > .e-item-text-block {
      box-shadow: none;
    }
  }

}

// todo Lines
@mixin vertical-line-left {
  position: relative;
  &:before {
    content:          "";
    position:         absolute;
    top:              15px;
    bottom:           15px;
    width:            1px;
    background-color: $grey;
    left:             0;
  }
}

@mixin vertical-line-right {
  position: relative;
  &:before {
    content:          "";
    position:         absolute;
    top:              15px;
    bottom:           15px;
    width:            1px;
    background-color: $grey;
    right:            0;
  }
}

@mixin acute {
  position:     relative;
  border:       1px solid $grey;
  border-right: none;
  &:before, &:after {
    content:          "";
    position:         absolute;
    width:            1px;
    height:           23px;
    right:            -6px;
    background-color: $grey;
  }
  &:before {
    top: -2px;
    @include transform(rotate(150deg));
  }
  &:after {
    bottom: -2px;
    @include transform(rotate(-150deg));
  }
}

// todo Fix Footer
html,
body {
  height: 100%;
}

.wrap {
  display:        flex;
  flex-direction: column;
  height:         100%;
  position:       relative;
}

.content {
  flex:     1 0 auto;
  position: relative;
  z-index:  3;
}

.b-footer {
  flex:     0 0 auto;
  position: relative;
  z-index:  2;
}

// todo End Fix Footer

input, textarea, select {
  -webkit-appearance: none !important;
}

html {
  -webkit-text-size-adjust: none;
}

/// Stroke font-character
/// $param  {Integer} $stroke - Stroke width
/// $param  {Color}   $color  - Stroke color
/// $return {Style}           - text-shadow
@mixin shadow($v1, $v2, $v3, $c) {
  -webkit-box-shadow: $v1 $v2 $v3 $c;
  -moz-box-shadow:    $v1 $v2 $v3 $c;
  -ms-box-shadow:     $v1 $v2 $v3 $c;
  -o-box-shadow:      $v1 $v2 $v3 $c;
  box-shadow:         $v1 $v2 $v3 $c;
}

@mixin filter($eff) {
  -webkit-filter: $eff;
  -moz-filter:    $eff;
  -o-filter:      $eff;
  -ms-filter:     $eff;
  filter:         $eff;
}

@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  /* Firefox 19+ */
  &:-moz-placeholder {
    color: $color;
  }
  /* Firefox 18- */
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin transform($string) {
  -webkit-transform: $string;
  -moz-transform:    $string;
  -ms-transform:     $string;
  -o-transform:      $string;
  transform:         $string;
}

@mixin transition($string) {
  -webkit-transition: $string;
  -moz-transition:    $string;
  -ms-transition:     $string;
  -o-transition:      $string;
  transition:         $string;
}

@mixin transition-duration($string) {
  -webkit-transition-duration: $string;
  -moz-transition-duration:    $string;
  -ms-transition-duration:     $string;
  -o-transition-duration:      $string;
  transition-duration:         $string;
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing:    $value;
  box-sizing:         $value;
}

// todo Elements
.b-close {
  width:  42px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  &:before, &:after {
    content:          "";
    position:         absolute;
    top:              -3px;
    left:             16px;
    width:            3px;
    height:           48px;
    background-color: red;
    @include transition-def();
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
  &:hover {
    &:before, &:after {
      background-color: #ff2c2c;
    }
  }
  &.m-close-glob{
    @include transition-def();
    @include transition(all .3s);
    visibility: hidden;
    opacity: 0;
    position: fixed;
    &.m-close-visible{
      visibility: visible;
      opacity: 1;
    }
  }
}

.m-100 {
  width: 100%;
}

.f-t {
  font-weight: 100 !important;
}

.f-l {
  font-weight: 300 !important;
}

.f-n {
  font-weight: 400 !important;
}

.f-m {
  font-weight: 500 !important;
}

.f-b {
  font-weight: 700 !important;
}
.f-e{
  font-weight: 900 !important;
}

.t {
  display: table;
  height:  100%;
  width:   100%;
  .c {
    display:        table-cell;
    vertical-align: middle;
    text-align:     center;
  }
}

.b-popup-overlay {
  opacity:    0;
  display:    none;
  box-sizing: border-box;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.52);
  &.active {
    display: block;
  }
  & > .b-close {
    position: fixed !important;
    top:      10px;
    left:     auto;
    right:    10px;
  }
  &>.e-popup-overlay-container{
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    &>*{
      display: inline-block;
      vertical-align: middle;
      text-align: left;
    }
  }
}

.b-popup{
  background-color: #fff;
  width: 450px;
  position: relative;
  z-index: 5;
}

@media (max-width: 767px){
  .b-popup-overlay {
    &>.e-popup-overlay-container{
      padding: 8px;
    }
  }
}

.b-input-container {
  width:    100%;
  display:  block;
  position: relative;
  .e-input-container-icon {
    position:       absolute;
    top:            calc(50% - 10.5px);
    left:           0;
    z-index:        1;
    color:          $grey;;
    width:          45px;
    font-size:      21px;
    line-height:    21px;
    display:        inline-block;
    vertical-align: top;
    text-align:     center;
  }
  & + .b-input-container {
    margin-top: 15px;
  }
  &.m-icon {
    &:before {
      content:          '';
      position:         absolute;
      width:            1px;
      top:              1px;
      bottom:           1px;
      left:             44px;
      background-color: $grey;;
    }
    .b-input {
      padding-left: 59px;
    }
  }
  &.m-input-error {
    .e-input-container-icon {

    }
    .b-input {

      &:focus {
        -webkit-box-shadow: 0px 1px 5px 0px;
        -moz-box-shadow:    0px 1px 5px 0px;
        box-shadow:         0px 1px 5px 0px;
      }
    }
  }
  &.m-100{
    width: 100%;
  }
  &.m-50{
    width: calc(50% - 11px);
    float: left;
    margin-top: 0;
    margin-bottom: 15px;
    &+.m-50{
      margin-left: 22px;
    }
    &:nth-child(2n+1){
      margin-left: 0;
    }
  }
}

@media (max-width: 479px) {
  .b-input-container{
    &.m-50{
      width: 100%;
      float: none;
      &+.m-50{
        margin-left: 0;
      }
    }
  }
}

.b-input {
  display:       block;
  box-sizing:    border-box;
  border:        1px solid $grey;
  border-radius: 3px;
  padding:       15px 15px 16px;
  font-size:     16px;
  line-height:   20px;
  width:         100%;
  font-weight:   400;
  color:         $grey;
  font-family:   "Ubuntu";
}

.b-overlay {
  background-color: rgba(44, 110, 183, .4);
  position:         fixed;
  top:              0;
  left:             0;
  right:            0;
  bottom:           0;
  z-index:          5;
  opacity:          0;
  display:          none;
  &.active {
    display: block;
  }
  & > .b-close {
    position: fixed !important;
    top:      10px;
    left:     auto;
    right:    10px;
  }
}

.b-checkbox {
  display:        inline-block;
  vertical-align: top;
  position:       relative;
  z-index:        2;
  label {
    background-color: #ffffff;
    width:            15px;
    height:           15px;
    position:         relative;
    margin-bottom:    0;
    display:          block;
    cursor:           pointer;
    box-sizing:       border-box;
    border:           1px solid #cccccc;
    border-radius:    3px;
    &:before {
      content:     "";
      position:    absolute;
      transform:   rotate(45deg);
      border:      2.7px solid $orange;
      border-left: none;
      border-top:  none;
      width:       8px;
      height:      14px;
      top:         -4px;
      left:        5px;
      display:     none;
    }
  }
  input {
    display: none;
    &:checked {
      & + label {
        &:before {
          display: block;
        }
      }
    }
  }
}

.b-checkbox-container {
  font-size: 0;
  .e-checkbox-label {
    font-size:      16px;
    line-height:    17px;
    padding-left:   7px;
    margin-bottom:  0;
    display:        inline-block;
    vertical-align: top;
    cursor:         pointer;
    font-weight:    400;
    width:          80%;
  }
}

// todo ANDROID
@keyframes clickeffect {
  from {
    opacity: 0.7;
    @include transform(scale(0))
  }
  to {
    opacity: 0;
    @include transform(scale(2));
  }
}

@-webkit-keyframes clickeffect {
  from {
    opacity: 0.7;
    @include transform(scale(0));
  }
  to {
    opacity: 0;
    @include transform(scale(2));
  }
}

.anim {
  position: relative;
  overflow: hidden;
}

.effect {
  margin:            -100px;
  width:             200px;
  height:            200px;
  border-radius:     100px;
  position:          absolute;
  background:        rgba(255, 255, 255, 0.5);
  @include transform(scale(0));
  pointer-events:    none;
  animation:         clickeffect 1s ease;
  -webkit-animation: clickeffect 1s ease;
}

// todo END ANDROID

.m-new-line {
  display: block;
}

// todo Animate Background (добавить к родителю класс "b-bg", внутри создать "span" с классом "e-bg-img-container", в котором будет "span" с калссом "e-bg-img") и ему забить в "style="background-image: url('')""
// todo "e-bg-container"  добавить к контейнеру с контентом
.b-bg {
  overflow: hidden;
  color:    #ffffff;
  position: relative;
  .e-bg-container{
    position: relative;
    z-index: 2;
  }
  .e-bg-img-container {
    display:  block;
    position: absolute;
    top:      0;
    left:     0;
    right:    0;
    bottom:   0;
    &:before {
      content:    "";
      position:   absolute;
      top:        0;
      left:       0;
      right:      0;
      bottom:     0;
      background: rgba(52, 52, 52, .8);
      z-index:    1;
    }
  }
  .e-bg-img {
    @include bg();
    height:                            100%;
    display:                           block;
    animation-name:                    zoomBg;
    -webkit-animation-name:            zoomBg;
    @include transform(scale(1));
    animation-duration:                40s;
    -webkit-animation-duration:        40s;
    animation-iteration-count:         infinite;
    -webkit-animation-iteration-count: infinite;
  }
}

@keyframes zoomBg {
  0% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(1.2));
  }
  100% {
    @include transform(scale(1));
  }
}

@-webkit-keyframes zoomBg {
  0% {
    @include transform(scale(1));
  }
  50% {
    @include transform(scale(1.2));
  }
  100% {
    @include transform(scale(1));
  }
}

// todo END Animate Background

.container {
  position: relative;
  z-index:  3;

}