@charset 'UTF-8';
/* Slider */
.slick-active {
 width: 35px;
    opacity: 1;
    height: 35px;
    z-index: 999999999;
    border-radius: 50%;
    background: url('../images/ui/sliderDotActive.png')no-repeat;
    background-color: #1FC199;;
}
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    
}
[dir='rtl'] .slick-prev
{
   /* right: -25px;*/
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
    outline: none;
}

.slick-dots
{

    display: block;



    position: absolute;
    padding: 0;
    list-style: none;
    width: 433px;
    left: 74px;
    text-align: left;
    bottom: 10px;
}
.slick-dots li
{

    display: inline-block;


    cursor: pointer;
    margin: 0 5px;
    padding: 0;
    list-style: none;
    vertical-align: middle;
    top: -2px;
}
.slick-dots li button
{


    height: 22px;

;
    padding: 5px;
    border: 0;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    outline: none;
    width: 22px;
    border-radius: 50%;
    z-index: -1;
    background-color: #ACADAD;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    text-align: center;

    opacity: 1;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li button:before
{
   
}

li {
    list-style: none;
}
.slick-dots li:nth-child(1){

}


.slick-active button {
    background: transparent !important;
}