@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadPro-Bold.woff") format("woff"),
    url("../fonts/MyriadPro-Bold.ttf") format("truetype"),
    url("../fonts/MyriadPro-Bold.svg") format("svg");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/MyriadPro-Regular.ttf") format("truetype"),
    url("../fonts/MyriadPro-Regular.svg") format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Black.eot");
    src: url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Black.woff") format("woff"),
    url("../fonts/ProximaNova-Black.ttf") format("truetype"),
    url("../fonts/ProximaNova-Black.svg") format("svg");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Bold.eot");
    src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.ttf") format("truetype"),
    url("../fonts/ProximaNova-Bold.svg") format("svg");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Extrabld.eot");
    src: url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Extrabld.woff") format("woff"),
    url("../fonts/ProximaNova-Extrabld.ttf") format("truetype"),
    url("../fonts/ProximaNova-Extrabld.svg") format("svg");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Light.eot");
    src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Light.woff") format("woff"),
    url("../fonts/ProximaNova-Light.ttf") format("truetype"),
    url("../fonts/ProximaNova-Light.svg") format("svg");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Regular.eot");
    src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
    url("../fonts/ProximaNova-Regular.svg") format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Semibold.eot");
    src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff"),
    url("../fonts/ProximaNova-Semibold.ttf") format("truetype"),
    url("../fonts/ProximaNova-Semibold.svg") format("svg");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "ProximaNovaT";
    src: url("../fonts/ProximaNovaT-Thin.eot");
    src: url("../fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNovaT-Thin.woff") format("woff"),
    url("../fonts/ProximaNovaT-Thin.ttf") format("truetype"),
    url("../fonts/ProximaNovaT-Thin.svg") format("svg");
    font-style: normal;
    font-weight: 100;
}


