@import "mixins";

.wrap {
  font-size: 21px;
  line-height: 30px;
  font-family: "Proxima";
  font-weight: 500;
  font-style: normal;
  position: relative;
  color: $grey;
}

.content {
  @include transition-def();
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px !important;
  }
}

p, h1, h2, h3, h4, span, input, img {
  &::selection {
    background: $green; /* Safari */
    color: #ffffff;
  }
  &::-moz-selection {
    background: $green; /* Firefox */
    color: #ffffff;
  }
}

.t-green {
  color: $green !important;
}

.t-orange {
  color: $orange !important;
}

.t-upper {
  text-transform: uppercase !important;
}

// todo Buttons
.b-button {
  height: 100px;
  letter-spacing: 1.3px;
  min-width: 220px;
  box-sizing: border-box;
  position: relative;
  font-size: 21px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  @include border();
  @include border-op();
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  border-radius: 50px;
  @include transition-def();
  overflow: hidden;
  text-shadow: 0px -1px 0px rgba(60, 108, 0, 0.83);
  .e-button-container {
    height: 100%;
    background-color: $green-bg;
    padding: 0 57px;
    position: relative;
    display: block;
    @include transition-def();
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 0px;
  }
  .t {
    position: relative;
  }
  &:hover {
    .e-button-container {
      background-color: $green;
      color: #fff;
    }
  }
  &.m-button-sm {
    height: 53px;
    border: none;
    font-size: 16px;
    line-height: 18px;
    min-width: 270px;
    letter-spacing: 1px;
    .e-button-container {
      padding: 0;
    }
  }
  &.m-button-little {
    height: 40px;
    font-size: 12px;
    line-height: 14px;
    min-width: 200px;
  }
  &.m-button-orange {
    .e-button-container {
      background-color: $orange;
    }
    &:hover {
      .e-button-container {
        background-color: #fdb40f;
      }
    }
  }
  &.m-100 {
    width: 100%;
  }
  &.m-button-auto {
    min-width: 0;
    .e-button-container {
      padding: 0 86px;
    }
  }
  &.m-button-dashed {
    border: 2px dashed $green;
    background-color: #fff;
    padding: 8px;
    height: 68px;
    .e-button-container {
      border: 1px solid $green;
      background-color: #fff;
      padding: 0;
      color: $green;
      border-radius: 50px;
      font-size: 19px;
      line-height: 20px;
      font-weight: 700;
      text-transform: none;
      text-shadow: none;
      .e-button-text {
        border-bottom: 1px solid $green;
      }
    }
    &:hover {
      .e-button-container {
        background-color: $green;
        color: #fff;
      }
    }
  }
}

.b-bg {
  .e-bg-img-container {
    &:before {
      background: none;
    }
  }
}

.b-text-under-button {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: block;
  padding-top: 13px;
  font-weight: 300;
  color: #adc0cc;
}

.b-logo {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-size: 55px;
  line-height: 40px;
  font-weight: 900;
  color: $orange;
  padding-bottom: 27px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  .e-attention {
    font-weight: 500;
    font-size: 47px;
    line-height: 46px;
    display: block;
    text-transform: none;
    letter-spacing: 1.9px;
  }
  .e-attention-sm {
    font-size: 38px;
    line-height: 45px;
    font-weight: 500;
    text-transform: none;
    display: block;
    color: $grey-lighter;
    letter-spacing: 1.5px;
    .t-green {
      text-transform: uppercase;
      font-size: 45px;
      font-weight: 900;
    }
  }
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $pink;
  padding-top: 29px;
  margin: 0 auto;
  width: 38%;
  padding-bottom: 84px;
  & + .b-text {
    width: 59%;
    margin: 0 auto;
    text-align: center;
  }
}

h2, .b-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 114px;
  padding-bottom: 21px;
  margin-bottom: 50px;
  letter-spacing: 0.2px;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 62px);
    background-color: $green;
    width: 102px;
    height: 2px;
    z-index: 2;
  }
  .t-green {
    font-weight: 900;
    text-transform: uppercase;
  }
  &.m-title-without-line {
    margin-top: 66px;
    padding-bottom: 0;
    margin-bottom: 20px;
    &:before {
      display: none;
    }
  }
}

h4, .b-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  position: relative;
  margin: 0 auto;
  width: 54%;
  padding-bottom: 67px;
  padding-top: 0;
  text-align: center;
  color: #acacac;
}

.b-icon {
  display: inline-block;
  vertical-align: top;
}

section {
  position: relative;
}

.b-input-list {
  text-align: center;
  font-size: 0;
  .e-input-item {
    margin-left: 20px;
    width: 220px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }
  }
}

.b-input {
  border-radius: 30px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Proxima";
  background-color: #fff;
  border: 2px solid #b3b3b3;
  padding: 18px 16px 17px;
  border-radius: 30px;
  color: $grey-dark;
}

.b-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  &.m-header-static {
    position: relative;
    z-index: 5;
    top: 0 !important;
  }
}

.b-header, .b-footer {
  background-color: $bg;
  color: #fff;
  .e-header-container {
    @include clearfix();
    padding-top: 12px;
    padding-bottom: 17px;
  }
  .e-header-nav-container {
    padding-top: 3.7%;
  }
  .b-logo {
    margin-top: 12px;

  }
}

.b-footer {
  position: relative !important;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  .e-footer-center {
    text-align: center;
    padding-top: 19px;
  }
  .e-footer-link {
    font-size: 16px;
    line-height: 31px;
    color: #979797;
  }
}

.b-phone-list {
  .e-phone-link {
    font-size: 28px;
    line-height: 18px;
    font-weight: 900;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0.5px;
    i {
      display: inline-block;
      font-size: 28px;
      vertical-align: baseline;
    }
    &:hover {
      color: $green;
    }
  }
  .e-phone-item {
    text-align: center;
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.b-nav-list {
  @include clearfix();
  -webkit-justify-content: center; /* Safari */
  justify-content: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-align-items: center; /* Safari */
  align-items: center;
  .e-nav-item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    &:first-child {
      margin-left: 0;
    }
  }
  a {
    position: relative;
    cursor: pointer;
    @include transition-def();
    &:before {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 50%;
      width: 0;
      @include transition-def();
      border-top: 4px solid transparent;
    }
    &:hover, &:focus {
      color: $green;
      &:before {
        border-color: $green;
        width: 50%;
        left: 25%;
      }
    }
  }
}

.b-arrow-container {
  background-image: url("../img/down.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 191px;
  height: 114px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.b-arrow {
  display: inline-block;
  vertical-align: top;
  z-index: 2;
  width: 79px;
  height: 79px;
  margin-top: 75px;
  padding-top: 20px;
  margin-left: 53px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: #d3d4d6;
  font-size: 20px;
}

.b-first {
  position: relative;
  padding-top: 127px;
  .e-first-content {
    position: relative;
    box-sizing: border-box;
    &.m-first-big {
      .b-first-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
  &.m-first-static {
    padding-top: 0;
    background-color: $bg;
    .e-first-content {
      padding-top: 0;
    }
  }
  .e-first-content {
    padding-top: 54px;
  }
  .st-l {
    left: 0;
    top: 68px
  }
  .st-r {
    right: 0;
    top: 362px;
  }
  .l1 {
    top: 94px;
    left: 160px;
  }
  .l2 {
    top: 208px;
    left: 220px;
  }
  .l3 {
    top: 203px;
    right: 130px;
  }
  .l4 {
    top: 420px;
    right: 300px;
  }
  .l5 {
    top: 558px;
    right: 218px;
  }
  .l6 {
    top: 675px;
    left: 12px;
  }
  .l7 {
    top: 932px;
    right: 90px;
  }
}

.b-first-container-img {
  @include clearfix();
  position: relative;
  padding-bottom: 40px;
  .e-first-container-img-pic {
    position: absolute;
    top: -191px;
    left: 2px;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
  }
}

.b-first-list {
  font-size: 18px;
  line-height: 19px;
  font-weight: 500;
  color: $grey;
  width: 390px;
  float: right;
  margin-right: 146px;
  letter-spacing: 0.2px;
  .e-first-item {
    padding-left: 74px;
    margin-top: 38px;
    position: relative;
    &:first-child {
      margin-top: 0;
    }
  }
  .b-icon {
    font-size: 58px;
    line-height: 58px;
    top: calc(50% - 29px);
    left: 0;
    position: absolute;
    color: $green;
  }
}

.b-first-footer {
  @include clearfix();
  font-size: 0;
  text-align: center;
  .b-spec-text-container {
    float: right;
  }
  .b-info {
    float: left;
    margin-top: 33px;
  }
  .b-arrow-container {
    margin-top: 23px;
  }
}

.b-info {
  width: 376px;
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  .e-info-text {
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    color: $grey-light;
    background-image: url("../img/box.png");
    background-position: left top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 15px 116px 15px 24px;
    letter-spacing: -0.4px;
  }
  .b-info-label {
    left: calc(100% - 64px);
    top: calc(50% - 29.5px);
    position: absolute;
  }
}

.b-info-label {
  color: #fff;
  background-color: $orange;
  padding: 9px 0 2px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
  &:before {
    border-bottom: 59px solid $orange;
    border-left: 75px solid transparent;
    right: 100%;
    top: 0;
  }
  &:after {
    border-top: 59px solid $orange;
    border-right: 75px solid transparent;
    left: 100%;
    top: 0;
  }
  .e-info-label-text {
    font-size: 19px;
    line-height: 42px;
    font-weight: 700;
    margin-left: -4px;
    letter-spacing: 0.2px;
    position: relative;
    z-index: 2;
    .e-info-label-big-text {
      font-weight: 900;
      font-size: 35px;
    }
  }
}

.b-spec-text-container {
  color: $grey-light;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  letter-spacing: -0.7px;
  .e-spec-text {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    &.m-spec-text-last {
      font-size: 30px;
    }
    .f-m {
      font-size: 27px;
      line-height: 34px;
    }
  }
  .e-spec-text-sm {
    font-size: 24px;
  }
}

.b-line-text {
  position: relative;
  &:before {
    position: absolute;
    top: calc(50% - 2.5px);
    left: -5px;
    right: -5px;
    height: 5px;
    background-color: $orange;
    content: "";
    z-index: 2;
  }
}

.b-circle-container {
  position: relative;
  padding-left: 57px;
  .b-circle {
    position: absolute;
    left: 0;
    top: calc(50% - 18px);
    &.m-circle-sm {
      top: calc(50% - 12px);
    }
  }
}

.b-circle {
  width: 36px;
  height: 36px;
  background-color: $green;
  border: 7px solid #ebebeb;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  &.m-circle-sm {
    width: 24px;
    height: 24px;
    border: 5px solid #ebebeb;
  }
}

.b-easy-list {
  display: inline-block;
  vertical-align: top;
  .e-easy-item {
    font-size: 21px;
    line-height: 23px;
    font-weight: 700;
    margin-top: 42px;
    text-align: left;
    letter-spacing: 0.3px;
    &:first-child {
      margin-top: 0;
    }
  }
  & + .b-easy-list {
    padding-left: 37px;
  }
}

.b-second {
  text-align: center;
  padding-top: 50px;
  .e-second-list-container {
    font-size: 0;
    padding-top: 6px;
  }
}

.b-text-block {
  @include text-block();
  position: relative;
  z-index: 2;
  .e-text-block-container {
    background: #fff;
    padding: 40px 37px;
    border-radius: 24px;
  }
  .e-text-block-text {
    & + .e-text-block-text {
      padding-top: 15px;
    }
  }
  .b-title {
    text-align: left;
    margin-top: 38px;
    margin-bottom: 34px;
    .t-green {
      text-transform: none;
    }
  }
  .b-button {
    margin-top: 32px;
  }
  &.m-text-block-title {
    text-align: center;
    width: 761px;
    margin: 0 auto;
    padding: 17px 60px;
    margin-top: 30px;
    &:before, &:after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 3;
    }
    &:before {
      background-image: url("../img/l21.png");
      width: 136px;
      height: 76px;
      top: -29px;
      left: -92px;
    }
    &:after {
      background-image: url("../img/l22.png");
      width: 238px;
      height: 184px;
      bottom: -100px;
      right: -173px;
    }
  }
}

.b-img-text-list {
  font-size: 0;
  .e-img-text-item {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    text-align: center;
    &:first-child, &:nth-child(2) {
      margin-top: 0;
    }
  }
  .e-img-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
    height: 44px;
  }
  .b-img {
    @include border();
    border-radius: 50%;
    width: 153px;
    height: 153px;
    box-sizing: border-box;
    overflow: hidden;
    border-color: #ebebeb;
    cursor: pointer;
    @include bg();
    position: relative;
    font-family: 'Glyphicons Halflings';
    font-size: 30px;
    color: #fff;
    &:before{
      content: "\e015";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 50px;
      background-color: rgba(0,0,0,.5);
      border-radius: 50%;
      opacity: 0;
      @include transition-def();
    }
    &:hover{
      &:before{
        opacity: 1;
      }
    }
  }
}

.b-img {
  display: inline-block;
  vertical-align: top;
}

.b-button-container {
  text-align: center;
}

.b-mech-list {
  @include clearfix();
  background-image: url("../img/ph2.png");
  padding-bottom: 75px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 51% 100%;
  .e-mech-item {
    float: left;
    margin-top: 20px;
    position: relative;
    .b-img {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      img {
        width: auto;
      }
    }
    &:nth-child(2n) {
      float: right;
      text-align: right;
    }
    &:nth-child(1) {
      width: 340px;
      margin-top: 0;
      clear: left;
      margin-bottom: 85px;
    }
    &:nth-child(2) {
      width: 360px;
      margin-top: 0;
      clear: right;
      padding-top: 7px;
      margin-bottom: 92px;
      .b-img {
        right: 0;
        left: auto;
      }
    }
    &:nth-child(3) {
      width: 300px;
      clear: left;
      .b-img {
        bottom: 0;
        top: auto;
      }
    }
    &:nth-child(4) {
      width: 280px;
      clear: right;
      .b-img {
        right: 0;
        left: auto;
        bottom: 0;
        top: auto;
      }
    }
  }
  .e-mech-text {
    font-size: 15px;
    line-height: 23px;
    color: #8e8f8c;
    font-weight: 400;
    padding-bottom: 16px;
    letter-spacing: 0.2px;
  }
}

.b-fourth {
  padding-top: 14px;
  position: relative;
  .l1 {
    top: 135px;
    left: -80px;
  }
  .l2 {
    top: 558px;
    left: 180px;
    z-index: 4;
  }
  .l3 {
    top: 606px;
    right: 130px;
  }
  .l4 {
    top: 380px;
    right: 70px;
  }
}

.b-fifth {
  padding-top: 19px;
  .b-mech-list {
    padding-top: 12px;
  }
  .e-fifth-button-container {
    @include clearfix();
    padding: 0 15px;
  }
}

.b-sixth {
  @include bg();
  background-image: url("../img/bg2.png");
  background-position: center bottom;
  .e-sixth-img-container {
    text-align: center;
    margin-top: -45px;
  }
  .b-button-container {
    padding-top: 35px;
    padding-bottom: 19px;
    .b-button {
      @include border-op();
    }
  }
  .st-l {
    top: 252px;
    left: 0;
  }
}

.b-seventh {
  .b-img-text-list {
    text-align: center;
    .e-img-text-item {
      width: 300px;
      margin-left: 100px;
      margin-top: 0;
      &:first-child {
        margin-left: 0;
      }
      .e-img-text {
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
        text-transform: none;
        margin: 0;
        margin-top: 29px;
        height: auto;
      }
    }
  }
}

.b-eleventh {
  position: relative;
  .st-l {
    top: 92px;
    left: 0;
    img {
      width: 110%;
    }
  }
  .l1 {
    top: 425px;
    right: -89px;
  }
}

.b-calc-list {
  font-size: 0;
  .e-calc-item {
    border: 2px solid #b3b3b3;
    color: $grey-dark;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 55px;
    border-radius: 40px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    width: 225px;
    margin-left: 40px;
    text-align: center;
    cursor: pointer;
    @include transition-def();
    &:first-child {
      margin-left: 0;
    }
    &.active {
      border: 8px solid $green;
      color: #4c8b00;
    }
    &:hover {
      border-color: $green;
    }
  }
}

.b-eight {
  padding-top: 170px;
  @include bg();
  background-image: url("../img/line2.png");
  background-position: center 22px;
  background-size: auto;
  .b-title {
    text-align: center;
    padding: 0;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 52px;
    &:before {
      display: none;
    }
  }
}

.b-calc {
  text-align: center;
  .e-text-block-container {
    padding: 0;
  }
  .e-calc-attention {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: -0.1px;
    padding: 22px 0 25px;
    background-color: $green;
    color: #fff;
  }
  .b-title {
    text-align: center;
    padding: 0;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 52px;
    &:before {
      display: none;
    }
  }
  .b-calc-list {
    padding: 65px 0 73px;
  }
}

.b-desc-text {
  color: $grey-dark;
  .e-desc-left {
    text-align: left;
  }
  .e-desc-left-text {
    font-size: 29px;
    line-height: 41px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
  }
  .e-desc-left-big-text {
    font-size: 41px;
    line-height: 59px;
    padding-left: 18px;
    .b-line-text {
      font-weight: 400;
      padding: 0 12px;
      &:before {
        background-color: $grey-dark;
        height: 3px;
        top: calc(50% - 1.5px);
      }
    }
    .e-desc-text-new {
      font-size: 37px;
      font-weight: 900;
      padding-left: 12px;
    }
  }
  .e-desc-right {
    text-align: right;
    padding-right: 10px;
    letter-spacing: 0.7px;
    .e-desc-plus {
      font-size: 61px;
      color: $green;
      font-weight: 700;
      position: absolute;
      left: -24px;
      top: 0;
    }
    .e-desc-text-right {
      font-size: 24px;
      line-height: 37px;
      padding-left: 20px;
      position: relative;
    }
  }
}

.b-var-list {
  .e-var-item {
    display: none;
    &.active {
      display: block;
    }
  }
  .b-title {
    text-align: left;
    padding-top: 27px;
    margin-bottom: 40px;
  }
  .b-form {
    margin-top: 15px;
  }
}

.b-view {
  padding-top: 26px;
  .e-view-card {
    @include bg();
    @include border();
    background-position: center top;
    background-size: auto;
    position: relative;
    border-radius: 30px;
    height: 340px;
    box-sizing: border-box;
    .e-view-lab {
      position: absolute;
      background-image: url("../img/pod-lab.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 139px;
      height: 139px;
      right: 0;
      bottom: 0;
    }
    &.m-plus {
      position: relative;
      &:before {
        content: "+";
        position: absolute;
        top: calc(50% - 50px);
        left: calc(100% - 17px);
        font-size: 155px;
        line-height: 104px;
        font-weight: 900;
        color: $orange;
        z-index: 1;
      }
    }
    &.m-view-big {
      background-position: left center;
      .e-view-card-text {
        font-size: 192px;
        left: auto;
        width: 50%;
        bottom: auto;
        top: calc(50% - 54.5px);
      }
    }
  }
  .e-view-card-text {
    font-size: 109px;
    text-align: center;
    line-height: 109px;
    font-weight: 900;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.b-form {
  @include border();
  border-radius: 30px;
  padding: 32px 25px 42px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  .e-form-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    padding-bottom: 31px;
    text-transform: uppercase;
    color: $grey-dark;
  }
  .e-form-title-big {
    font-weight: 900;
    font-size: 20px;
    line-height: 31px;
    text-transform: uppercase;
    color: $grey-dark;
    letter-spacing: 0.7px;
  }
  .e-form-text {
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    padding-bottom: 31px;
    color: $grey-dark;
  }
  .e-form-text-check {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 24px;
    padding-left: 33px;
  }
  .b-button {
    height: 70px;
  }
  &.m-form-tree {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/trl.png");
      width: 234px;
      height: 495px;
      top: 0;
      left: 100%;
      z-index: -1;
    }
  }
  &.m-form-big {
    width: 100%;
    padding-left: 21px;
    padding-right: 21px;
    .e-form-title {
      font-size: 19px;
      line-height: 22px;
      .t-upper {
        font-size: 17px;
      }
    }
  }
}

.b-form-container {
  width: 470px;
  margin: 0 auto;
  position: relative;
  &:hover {
    &:before {
      right: 76%;
    }
    &:after {
      left: 77.5%;
    }
    .e-form-cont2 {
      &:before {
        bottom: -24px;
      }
    }
  }
  .e-form-cont2 {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
      background-image: url("../img/fb.png");
      width: 205px;
      height: 211px;
      bottom: -94px;
      left: calc(50% - 102.5px);
      @include transition-def();
    }
  }
  .b-form {
    position: relative;
    z-index: 2;
  }
  &:before, &:after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    @include transition-def();
  }
  &:before {
    background-image: url("../img/fl.png");
    height: 452px;
    width: 219px;
    right: 96%;
    top: 12px;
  }
  &:after {
    background-image: url("../img/fr.png");
    width: 140px;
    height: 294px;
    left: 97.5%;
    top: 77px;
  }
}

.b-input-container {
  & + .b-input-container {
    margin-top: 20px;
  }
}

.b-per-list {
  padding-top: 17px;
  .e-per-item {
    @include clearfix();
    .e-per-item-container {
      width: 277px;
      &.m-per-item-container-right {
        float: right;
        .e-per-title {
          width: 90%;
        }
        .b-per-text-list {
          padding-top: 57px;
        }
      }
    }
  }
  .e-per-title {
    font-size: 28px;
    line-height: 33px;
    color: $grey-dark;
  }
  .b-per-text-list {
    padding-top: 113px;
  }
}

.b-per-text-list {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    left: 100%;
    bottom: -12px;
    background-image: url("../img/b-green.png");
    width: 236px;
    height: 807px;
    margin-left: 18px;
    z-index: 1;
  }
  .e-per-text-item {
    position: relative;
    margin-top: 25px;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    color: $grey;
    padding-bottom: 9px;
    padding-right: 23px;
    border-bottom: 1px solid $grey;
    &:first-child {
      margin-top: 0;
    }
  }
  .b-circle {
    position: absolute;
    top: calc(100% - 18px);
    right: 0;
  }
  &.m-per-text-right {
    &:before {
      background-image: url("../img/b-red.png");
      width: 236px;
      height: 695px;
      left: auto;
      margin-left: 0;
      margin-right: 18px;
      right: 100%;
    }
    .e-per-text-item {
      padding-left: 40px;
    }
    .b-circle {
      background-color: $orange;
      left: 0;
      right: auto;
    }
  }
}

.b-nineth {
  position: relative;
  .b-button-container {
    padding-top: 70px;
  }
  .l1 {
    top: 415px;
    left: 181px;
  }
  .l2 {
    top: 729px;
    left: 85px;
  }
  .l3 {
    top: 226px;
    right: 118px;
  }
  .l4 {
    top: 516px;
    right: -13px;
  }
  .l5 {
    top: 740px;
    right: 60px;
  }
}

.b-comment {
  padding-left: 200px;
  padding-right: 15px;
  position: relative;
  .e-comment-img {
    width: 170px;
    height: 170px;
    @include bg();
    @include border();
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: calc(50% - 85px);
    z-index: 2;
  }
  .e-comment-text {
    font-size: 15px;
    line-height: 23px;
    color: $grey;
    font-weight: 400;
    letter-spacing: 0.2px;
    & + .e-comment-text {
      padding-top: 20px;
    }
  }
}

.b-slider-container {
  position: relative;
}

.b-arrow-slider {
  left: -48px;
  top: calc(50% - 11.5px);
  font-size: 23px;
  position: absolute;
  color: #c8c8c7;
  cursor: pointer;
  @include transition-def();
  &:hover {
    color: $green;
  }
  &.m-arrow-slider-right {
    right: -48px;
    left: auto;
  }
}

.b-gal {
  background-color: #fff;
  border-radius: 30px;
  font-size: 13px;
  line-height: 23px;
  padding: 31px 11px 0;
  color: $grey;
  border: 7px solid #e3e3e3;
  height: 190px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.2px;
  position: relative;
  @include transition-def();
  @include transform(scale(1));
  &.m-gal-big {
    @include bg();
    background-size: 100%;
    height: 480px;
    &:hover {
      @include transform(scale(1.2));
      z-index: 2;
    }
  }
  &:hover {
    @include transform(scale(1.5));
    z-index: 2;
  }
}

.b-gal-block {
  position: relative;
  .l1 {
    top: 457px;
    left: 231px;
  }
  .l2 {
    top: 669px;
    left: 64px;
    img {
      width: 130%;
    }
  }
  .l3 {
    top: 736px;
    right: 118px;
  }
  .l4 {
    top: 1046px;
    right: 17px;
  }
}

.b-num-list {
  text-align: center;
  font-size: 0;
  padding-top: 9px;
  .e-num-item {
    display: inline-block;
    vertical-align: top;
    width: 226px;
    margin-left: 154px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.b-num-block {
  text-align: center;
  @include bg();
  background-size: auto;
  background-position: bottom center;
  background-image: url("../img/line3.png");
  .e-num-desc {
    font-size: 15px;
    line-height: 23px;
    color: $grey;
    letter-spacing: 0.2px;
    font-weight: 700;
    padding-top: 12px
  }
  .b-form-container {
    margin-top: 102px;
  }
  .b-first-footer {
    margin-top: 18px;
  }
}

.b-feedback-list {
  font-size: 0;
  .e-feedback-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 44px;
    .e-feedback-text {
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
      margin-left: 6px;
      &.m-tel {
        font-size: 19px;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.b-feedback {
  padding-top: 53px;
  position: relative;
  .b-feedback-list {
    padding-top: 22px;
    padding-bottom: 32px;
  }
  .b-form {
    margin-top: 21px;
    padding-top: 48px;
    padding-bottom: 28px;
  }
  .b-first-footer {
    padding-top: 24px;
    padding-bottom: 28px;
  }
  .st-l {
    left: 0;
    top: 47px;
  }
  .st-r {
    right: 0;
    top: 432px;
    z-index: 3;
  }
  .l1 {
    top: 31px;
    left: 161px;
  }
  .l2 {
    top: 169px;
    left: 219px;
    z-index: 4;
  }
  .l3 {
    top: 56px;
    right: 123px;
  }
  .l4 {
    top: -149px;
    right: -63px;
  }
  .l5 {
    top: 233px;
    right: 37px;
    img {
      width: 50%;
    }
  }
  .l6 {
    top: 484px;
    right: 307px;
    z-index: 4;
  }
  .l7 {
    top: 631px;
    left: 97px;
    z-index: 4;
  }
}

.b-map {
  @include border();
  border-radius: 30px;
  height: 450px;
  #map {
    height: 100%;
  }
}

.b-overlay {
  background-color: rgba(0, 0, 0, .75);
}

.b-popup-overlay {
  width: 370px;
  &.m-popup-overlay-text{
    width: auto;
  }
}

.b-popup{
  @include border();
  border-radius: 30px;
  background-color: #fff;
  max-height: 600px;
  width: 600px;
  padding: 30px;
  overflow-y: auto;
  .e-popup-text{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    &+.e-popup-text{
      padding-top: 30px;
    }
  }
  .b-title{
    padding-top: 0;
    margin-top: 0;
  }
}

.b-close {
  top: 17px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #9e938f;
  @include transition-def();
  &:before, &:after {
    background-color: #9e938f;
    top: 2px;
    left: 7px;
    width: 2px;
    height: 12px;
  }
  &:hover {
    border-color: $pink;
    &:before, &:after {
      background-color: $pink;
    }
  }
}

.b-thanks-text {
  font-size: 48px;
  line-height: 60px;
  color: $green;
}

.b-s-img, .b-l {
  position: absolute;
  z-index: 0;
  img {
    width: auto;
  }
}

.b-check{
  label{
    cursor: pointer;
    display: block;
  }
  .b-circle{
    background-color: #ebebeb;
    @include transition-def();
  }
  input{
    display: none !important;
  }
  [type="checkbox"]{
    &:checked{
      &+label{
        .b-circle{
          background-color: $green;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .b-feedback {
    .b-s-img {
      display: none;
    }
  }
  .b-l {
    display: none;
  }
}





